// Specific CSS for your home-page
.property-card {
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.property-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.property-card .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

#my-container{
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#reviews {
  padding-top: 20px;
  margin-top: -20px;
}
