#guests-icons {
  margin-top: 5px; /* increases the spacing above the icons */
  margin-bottom: 5px;  /* increases the spacing below the icons */
}

#guests-icons i {
  margin-right: 25px;
  font-size: 1.12rem;
}
