<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">LOGO HERE</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Login</a>
          </li>
      </ul>
    </div>
  </div>
</div>


<h2 class="text-center mt-3"> Here are all your bookings</h2>
  <div class="container mt-4">

    <div class="one_column">
      <div class="d-flex justify-content-between">

        <div>
          <h3>Property form</h3>
          <div class="card h-100">
            <%= image_tag 'parisien-flat.png', class: "card-img-top", alt: "..." %>
            <div class="card-body">
              <p class="card-text">3 bedroom flat in the heart of Paris</p>
            </div>
          </div>
        </div>

        <div>
          <h3>Booking details</h3>

          <div class="card h-100">
            <%= image_tag 'parisien-flat.png', class: "card-img-top", alt: "..." %>
            <div class="card-body">
              <p class="card-text">3 bedroom flat in the heart of Paris</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
