<h1>Properties</h1>

<% if @properties.any? %>
  <% @properties.each do |property| %>
    <div class="property-card">
      <h2><%= property.title %></h2>
      <p><%= property.location %></p>
      <p>Price per night: <%= property.price_per_night %></p>
    </div>
  <% end %>
<% else %>
  <p>No properties found</p>
<% end %>
