<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">LOGO HERE</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Login</a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container d-flex justify-content-center">
  <h1>search bar</h1>
  </div>
</div>


<div>
  <div class="container">property cards
    <div class="three-columns">

      <div class="card">
        <%= image_tag 'parisien-flat.png', class: "card-img-top", alt: "..." %>
        <div>
          <p>One of several cards</p>
        </div>
      </div>

      <div class="card">
        <%= image_tag 'german-flat.png', class: "card-img-top", alt: "..." %>
        <div>
          <p>One of several cards</p>
        </div>
      </div>

      <div class="card">
        <%= image_tag 'london-flat.png', class: "card-img-top", alt: "..." %>
        <div>
          <p>One of several cards</p>
        </div>
      </div>


    </div>
  </div>
</div>
