.homepage_banner{
  height: 400px;
  background-image: url(asset_path('banner-background.png'));
  background-size: cover;
  background-position: center;
  // position: relative;
  // width: 100%;
  // background-size: cover;
  // background-position: center center;
}
