.carousel {
  position: relative; /* sset position for the carousel */

  .carousel-control-prev,
  .carousel-control-next {
    display: none; /* hide the arrows by default */
    position: absolute; /* position them absolutely */
    top: 50%; /* vertically center the arrows */
    transform: translateY(-20%); /* center them vertically */
    opacity: 0; /* make the arrows invisible */
    transition: opacity 0.5s ease; /* add a smooth transition for opacity */
    z-index: 1; /* ensure arrows are on top of other elements */
  }

  &:hover {
    .carousel-control-prev,
    .carousel-control-next {
      display: block; /* show the arrows on hover */
      opacity: 1; /* make the arrows visible */
    }
  }
}


/* show the icons only when hover over the image */
.card:hover .carousel-control-prev,
.card:hover .carousel-control-next {
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 255, 255, 0.265); /* background color half transparent */
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.219); /* changes the background when you hover */
  filter: brightness(0) invert(1); /* changes the arrows when hover */
  opacity: 0.9;
  transition: all 0.3s ease; /* soft flow when you hover */
  filter: invert(1);
}
