.navbar-lewagon {
  justify-content: space-between;
  background: rgb(2, 2, 88);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-nav .nav-link {
  color: white;
}

/* stYling for the dropdown menu */
.dropdown-menu {
  background-color: white; /* sets background color for the dropdown */
  border-radius: 12px; /* adds rounded corners to the dropdown */
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2); /* stronger shadow for the dropdown menu */
  padding: 10px 0; /* adds padding (top and bottom) inside the dropdown */
}

/* styling for the dropdown links */
.dropdown-item {
  color: #333; /* default text color for the links */
  padding: 10px 20px; /* add padding to the dropdown links */
  transition: background-color 0.3s ease, color 0.3s ease; /* smooth transition effect for background and text color */
}

/* enhanced hover effect for the links */
.dropdown-item:hover {
  background-color: rgba(255, 56, 92, 0.9); /* darker background when hovering over a link */
  color: white; /* text color changes to white on hover */
  border-radius: 6px; /* adds slightly rounded corners to the link on hoover */
}
