.navbar-lewagon {
  justify-content: space-between;
  background: rgb(2, 2, 88);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-nav .nav-link {
  color: white;
}
